@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#logo{
    width: 346px;
    height: auto;
}

header{
    background-color: cornflowerblue;
}
//#graph {
//    width: 400px !important;
//    height: 400px !important;
//}
