@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#logo{
    width: 346px;
    height: auto;
}

#overall_score{
    text-align: center;
}

header{
    background-color: #278b49;
}
//#graph {
//    width: 400px !important;
//    height: 400px !important;
//}
