@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//#area_selector{
//    width: 20%;
//    float: right;
//    overflow:hidden;
//    margin: 10px;
//}
//
//#compare_button{
//    float:right;
//}
//
//#compare_para{
//    padding: 6px;
//    margin: 10px;
//    float:left;
//    overflow:hidden;
//}

#logo{
    width: auto;
    height: auto;
}

#preferencesInput{
    background-color: cornsilk;
}

#overall_score{
    text-align: center;
}

header{
    background-color: #278b49;
}

footer{
    background-color: #278b49;
    color: white;
    bottom: 0;
    position: relative;
}

#overview_cards{
    padding:10px;
}

canvas{
    width: 100% !important;
    max-width: 700px;
    height: auto !important;
}

.card{
    margin: 10px;
//    border: 10px;
    width: 100%;
//    height: 350px;
}

.comp_column{
    width: 30%;
    text-align: center;
    font-size: 24pt;
}

.comp_row{
    height: 2.5em;
}

.compagecharts{
    width: 50% !important;
}

td .comp_row{
    font-size: 24pt;
}
#comparison_table{
    width: 100%;
}

#map{
    height:500px;
    width: 100%;
    margin: 0 auto;
}

#navbar{
    border-color: darkgrey;
}

.overviewcard .card{
    margin: 10px;
//    border: 10px;
    width: 100%;
    height: 300px;
    border-color: darkgreen;
    border-width: medium;
}

#sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 60%; 
}

#sortable li { 
    margin: 0 5px 5px 5px; 
    padding: 5px; 
    font-size: 1.2em; 
    height: 1.5em; 
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

html>body #sortable li { 
    height: 1.5em; 
    line-height: 1.2em; 
}

.ui-state-highlight { 
    height: 1.5em; 
    line-height: 1.2em; 
}

#price_over_time{
    height: 0.5em;
    width: auto;
}

.btn-primary{
    margin: 10px;
}

.nav-item{
//    background-color: darkgray;
}
